.coins{
    padding-bottom: 64px;
    @include media(576){
        padding-bottom: 30px;
    }
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
        @include media(576){
            flex-direction: column;
            row-gap: 10px;
            margin-bottom: 30px;
            align-items: flex-start;
        }
    }
    &__button{
        display: flex;
        align-items: center;
        column-gap: 7px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #C6C8CD;
    }
    &__items{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 23px;
        @include media(992){
            flex-direction: column-reverse;
            align-items: flex-start;
            row-gap: 24px;
        }
    }
    &__list{
        display: flex;
        align-items: center;
        column-gap: 24px;
        &-container{
            width: 100%;
            overflow-x: auto;
            &::-webkit-scrollbar { 
                display: none; 
            }
        }
        @include media(768){
            width: max-content;
        }
    }
    &__item{
        display: flex;
        align-items: center;
        column-gap: 5px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        padding: 16px 20px;
        &.active{
            background: #3861FB;
            border-radius: 8px;
            &:hover{
                background: darken($color: #3861FB, $amount: 1.5);
            }
        }
        @include media(768){
            font-weight: 400;
            font-size: 14px;
            padding: 10px 10px;
        }
        @include media(576){
            font-size: 13px;
        }
    }
    &__btn{
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #FFFFFF;
        background: #3861FB;
        border-radius: 8px;
        width: 152px;
        height: 50px;
        margin-top: 52px;
        margin-left: auto;
        margin-right: auto;
        &:hover{
            background: darken($color: #3861FB, $amount: 1.5);
        }
        @include media(576){
            margin-top: 30px;
        }
    }
}