.prices{
    padding-bottom: 64px;
    @include media(576){
        padding-bottom: 30px;
    }
    &__top{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 35px;
        @include media(768){
            flex-direction: column;
            row-gap: 15px;
        }
        @include media(576){
            margin-bottom: 20px;
        }
        &-title{
            margin-bottom: 15px;
        }
        &-desc{
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #C6C8CD;  
            @include media(992){
                max-width: 400px;
                width: 100%;
            }      
            @include media(576){
                font-size: 14px;
            }    
        }
        &-span{
            color: #E53D35;
        }
        &-link{
            text-decoration: underline;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #C6C8CD; 
        }
    }
    &__action{
        display: flex;
        align-items: center;
        column-gap: 13px;
    }
    &__label{
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #C6C8CD;
        cursor: pointer;
    }
    &__chk{
        position: relative;
        width: 64px;
        height: 26px;
        input[type=checkbox]{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            opacity: 0;
            cursor: pointer;
            &:checked{
                &~div::before{
                    transform: translate(37px, -50%);
                }
            }
        }
        &>div{
            position: relative;
            width: 100%;
            height: 100%;
            background: #8D99AE50;
            border-radius: 50px;
            &::before{
                content: '';
                position: absolute;
                transition: 200ms ease;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 50%;
                left: 2px;
                width: 23px;
                height: 23px;
                background: url('../img/prices-icon-check.svg'), #2B2D42;
                background-size: 16px 16px;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        column-gap: 11px;
        @include media(1200){
            flex-direction: column;
            row-gap: 35px;
        }
        @include media(576){
            row-gap: 20px;
        }
    }
    &__subtitle{
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        @include media(1400){
            font-size: 12px;
        }
    }
    &__item{
        max-width: calc(33.333% - 7px);
        width: calc(33.3333% - 7px);
        background: #191F30;
        border-radius: 8px;
        padding: 16px;
        @include media(1400){
            padding: 10px;
        }
        @include media(1200){
            max-width: 100%;
            width: 100%;
            padding: 20px 25px;
        }
        @include media(576){
            padding: 15px;
        }
        &-icon{
            &_top{
                transform: rotate(-180deg);
            }
            &_red{
                svg{
                    path{
                        fill: #E53B35;
                    }
                }
            }
            &_green{
                svg{
                    path{
                        fill: #16C784;
                    }
                }
            }
        }
        &-top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 19px;
            &-logo{
                display: flex;
                align-items: center;
                column-gap: 7px;
            }
            &-links{
                display: flex;
                align-items: center;
                column-gap: 8px;
                img{
                    margin-bottom: -4px;
                }
            }
            &-span{
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                color: #5F86FB;
                @include media(1400){
                    font-size: 12px;
                }
            }
        }
        &-content{
            .prices__item-list{
                &:nth-of-type(1){
                    margin-bottom: 13px;
                    padding-bottom: 13px;
                    border-bottom: 0.5px solid rgba(255, 255, 255, 0.05);
                }
                &:nth-of-type(2){
                    margin-bottom: 13px;
                    padding-bottom: 13px;
                    border-bottom: 0.5px solid rgba(255, 255, 255, 0.05);
                }
            }
        }
        &-list{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-infos{
            display: inline-block;
        }
        &-links{
            display: flex;

        }
        &-li{
            display: flex;
            align-items: center;
            column-gap: 10px;
            @include media(1200){
                column-gap: 5px;
            }
        }
        &-num{
            font-weight: 500;
            font-size: 12px;
            line-height: 150%;
            color: rgba(255, 255, 255, 0.1);
        }
        &-span{
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            color: #FFFFFF;    
            border: 0.5px solid #FFFFFF;
            border-radius: 2px;      
            padding: 3px 6px;
            opacity: 0.5;  
            @include media(1400){
                font-size: 10px;
            }
        }
        &-prasent{
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            color: #FFFFFF;
            @include media(1400){
                font-size: 12px;
            }
            &_red{
                color: #E53B35;
            }
            &_green{
                color: #16C784;
            }
        }
    }
}