.quotes{
    padding-bottom: 64px;
    @include media(576){
        padding-bottom: 30px;
    }
    &__title{
        margin-bottom: 35px;
        @include media(576){
            margin-bottom: 0;
        }
    }
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include media(576){
            flex-direction: column;
            row-gap: 10px;
            margin-bottom: 30px;
        }
    }
    &__button{
        display: flex;
        align-items: center;
        column-gap: 7px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #C6C8CD;
    }
    &__header{
        background: #191F30;
        border-radius: 8px 8px 0 0;
        padding: 16px 31px 16px 23px;
        @include media(992){
            min-width: max-content;
            width: 100%;
        }
    }
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media(992){
            column-gap: 50px;
        }
    }
    &__li{
        display: flex;
        align-items: center;
        column-gap: 12px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        @include media(992){
            font-size: 14px;
            font-weight: 500;
        }
        &_coins{
            width: 178px;
        }
        &_symbol{
            width: 85px;
        }
        &_hour{
            width: 80px;
        }
        &_dollar{
            width: 130px;
        }
        &_calendar{
            width: 100px;
        }
        &_upvotes{
            width: 91px;
        }
    }
    &__content{
        @include media(992){
            overflow-x: auto;
            scrollbar-width: none;
            &::-webkit-scrollbar { 
                display: none; 
            }
        }
    }
    &__items{
        background: #E9F0F8;
        @include media(992){
            min-width: max-content;
            width: 100%;
        }
    }
    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 45px 15px 23px;
        border-bottom: 0.5px solid rgba(25, 31, 48, 0.05);
        @include media(992){
            column-gap: 50px;
            width: max-content;
            padding-right: 26px;
        }
    }
    &__coins{
        width: 178px;
    }
    &__symbol{
        width: 85px;
    }
    &__hour{
        width: 80px;
    }
    &__money{
        width: 130px;
    }
    &__calendar{
        width: 100px;
    }
    &__upvotes{
        width: 91px;
    }
    &__coins{
        display: flex;
        align-items: center;
        column-gap: 13px;
    }
    &__square{
        background: #16C784;
        border-radius: 4px;
        min-width: 36px;
        width: 36px;
        height: 36px;
    }
    &__texts{
        display: flex;
        flex-direction: column;
    }
    &__subtitle{
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: rgba(25, 31, 48, 0.85);
    }
    &__desc{
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        color: rgba(25, 31, 48, 0.85);
    }
    &__symbol{
        &-p{
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            text-decoration-line: underline;
            color: rgba(25, 31, 48, 0.85);
        }
    }
    &__hour{
        &-p{
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            color: #16C784;
            display: flex;
            align-items: center;
            img{
                width: 15px;
                height: 15px;
            }
        }
    }
    &__p{
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: rgba(25, 31, 48, 0.85);
    }
    &__btn{
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #16C784;
        padding: 7px 9px;
        border: 1px solid #16C784;
        border-radius: 4px;
        min-width: 90px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &-span{
            margin-right: 7px;
        }
    }
}



@media (prefers-color-scheme: dark) {
    .quotes__items{ 
        background: #191F30;
        color: white; 
    }
    .quotes__subtitle,
    .quotes__desc,
    .quotes__p,
    .quotes__symbol-p{
        color: rgba(255, 255, 255, 0.85);
    }
}          