.quotes{
    padding-bottom: 64px;
    @include media(576){
        padding-bottom: 30px;
    }
    &__content{
        @include media(576){
            width: calc(100% + 30px);
            margin-left: -15px;
        }
    }
    &__title{
        margin-bottom: 35px;
        @include media(576){
            margin-bottom: 0;
        }
    }
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include media(576){
            flex-direction: column;
            row-gap: 10px;
            margin-bottom: 30px;
        }
    }
    &__button{
        display: flex;
        align-items: center;
        column-gap: 7px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #C6C8CD;
    }
    &__header{
        background: #191F30;
        border-radius: 8px 8px 0 0;
        padding: 16px 23px 16px 23px;
        @include media(992){
            width: 100%;
            grid-template-columns: 37.5% 0 20% 20% 0 22.5%;
        }
        @include media(576){
            padding: 0;
        }
    }
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: grid;
        justify-items: center;
        align-items: center;
        position: relative;
        grid-template-columns: 25% 15% 15% 15% 15% 15%;
        @include media(992){
            width: 100%;
            grid-template-columns: 37.5% 0 20% 20% 0 22.5%;
        }
        @include media(576){
            padding: 15px 2px;
        }
    }
    &__li{
        display: flex;
        align-items: center;
        column-gap: 12px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        @include media(992){
            font-size: 14px;
            font-weight: 500;
        }
        &_coins{
            width: 100%;
        }
        &_symbol{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            @include media(992){
                width: 0;
                overflow: hidden;
            }
        }
        &_hour{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            @include media(768){
                img{
                    display: none;
                }
            }
        }
        &_dollar{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            @include media(768){
                img{
                    display: none;
                }
            }
        }
        &_calendar{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            @include media(992){
                width: 0;
                overflow: hidden;
            }
        }
        &_upvotes{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            @include media(768){
                img{
                    display: none;
                }
            }
        }
    }
    &__items{
        background: #E9F0F8;
        border-radius: 0 0 8px 8px;
        @include media(992){
            min-width: 100%;
            width: 100%;
        }
    }
    &__item{
        display: grid;
        justify-items: center;
        align-items: center;
        position: relative;
        grid-template-columns: 25% 15% 15% 15% 15% 15%;
        border-bottom: 0.5px solid rgba(25, 31, 48, 0.05);
        padding: 15px 23px 15px 23px;
        @include media(992){
            padding-right: 26px;
            grid-template-columns: 37.5% 0 20% 20% 0 22.5%;
        }
        @include media(576){
            padding: 15px 2px;
        }
    }
    &__coins{
        width: 100%;
        overflow: hidden;
    }
    &__symbol{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        @include media(992){
            width: 0;
            overflow: hidden;
        }
    }
    &__hour{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    &__money{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    &__calendar{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media(992){
            width: 0;
            overflow: hidden;
        }
    }
    &__upvotes{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__coins{
        display: flex;
        align-items: center;
        column-gap: 13px;
    }
    &__square{
        background: #16C784;
        border-radius: 4px;
        min-width: 36px;
        width: 36px;
        height: 36px;
        @include media(576){
            width: 25px;
            height: 25px;
            min-width: 25px;
        }
    }
    &__texts{
        display: flex;
        flex-direction: column;
    }
    &__subtitle{
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: rgba(25, 31, 48, 0.85);
    }
    &__desc{
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        color: rgba(25, 31, 48, 0.85);
    }
    &__symbol{
        &-p{
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            text-decoration-line: underline;
            color: rgba(25, 31, 48, 0.85);
        }
    }
    &__hour{
        &-p{
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            color: #16C784;
            display: flex;
            align-items: center;
            img{
                width: 15px;
                height: 15px;
            }
        }
    }
    &__p{
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: rgba(25, 31, 48, 0.85);
    }
    &__btn{
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #16C784;
        padding: 7px 9px;
        border: 1px solid #16C784;
        border-radius: 4px;
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        &-span{
            margin-right: 7px;
            @include media(576){
                margin-right: 2px;
            }
        }
    }
}



html.dark{ 
    .quotes__items{ 
        background: #191F30; 
        color: white; 
    } 
    .quotes__subtitle, 
    .quotes__desc, 
    .quotes__p, 
    .quotes__symbol-p{ 
        color: rgba(255, 255, 255, 0.85); 
    } 
} 