mixin header()
    header.header
        nav.header__nav.container 
            a(href="#!").header__logo
                img(src="@img/logo.svg", alt="" draggable="false" loading="lazy")
                span CoinLogotype
            .header__info 
                form(action="").header__form
                    input(type="text" placeholder="Search").header__input
                    button(type="submit")
                        img(src="@img/header-icon-search.svg", alt="" draggable="false" loading="lazy")
                .header__icons 
                    a(href="https://telegram.com").header__icon
                        img(src="@img/header-icon-twitter.svg", alt="" draggable="false" loading="lazy")
                    a(href="https://twitter.com").header__icon
                        img(src="@img/header-icon-telegram.svg", alt="" draggable="false" loading="lazy")
                    a(href="https://discord.com").header__icon
                        img(src="@img/header-icon-discord.svg", alt="" draggable="false" loading="lazy")
        