mixin menu()
    .menu 
        .menu__body.container   
            .menu__slider 
                .menu__swiper.swiper
                    .menu__swiper-wrapper.swiper-wrapper 
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link Coin Ranking
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link Add a Coin
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link CoinMooner Token
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link Staking
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link Airdrops
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link KYC for Projects
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link Tech Audit
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link Promote | Traffic Stars
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link Contest
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link Earn with Us | Affiliate
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link Coin Ranking
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link Add a Coin
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link Staking
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link Airdrops
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link KYC for Projects
                .menu__buttons 
                    .swiper-button-next.menu__button-next

