mixin prices()
    .prices 
        .prices__body.container 
            .prices__top 
                .prices__top-texts 
                    h2.prices__top-title.title Today's Cryptocurrency Prices by Market Cap
                    p.prices__top-desc The global crypto market cap is $1.73T, a #[span.prices__top-span 0.22%] decrease over the last day. #[a(href="#!").prices__top-link Read More] 
                .prices__action 
                    label(for="checkbox").prices__label Highlights
                    .prices__chk 
                        input(type="checkbox" checked)#checkbox 
                        div 