mixin content()
    .quotes__content 
        .quotes__header 
            ul.quotes__list
                li.quotes__li #[img(src="@img/quotes-icon-diamond.svg", alt="" draggable="false" loading="lazy")] Promoted coins
                li.quotes__li #[img(src="@img/quotes-icon-symbol.svg", alt="" draggable="false" loading="lazy")] Symbol
                li.quotes__li #[img(src="@img/quotes-icon-statistic.svg", alt="" draggable="false" loading="lazy")] 1h
                li.quotes__li #[img(src="@img/quuotes-icon-dollar.svg", alt="" draggable="false" loading="lazy")] Market Cap
                li.quotes__li #[img(src="@img/quotes-icon-calendar.svg", alt="" draggable="false" loading="lazy")] Launch
                li.quotes__li #[img(src="@img/quotes-icon-upvotes.svg", alt="" draggable="false" loading="lazy")] Upvotes
        .quotes__items 
            .quotes__item 
                .quotes__coins 
                    .quotes__square 
                    .quotes__texts 
                        span.quotes__subtitle CoinMooner Token #[br]
                        span.quotes__desc DOXXED
                .quotes__symbol 
                    span.quotes__symbol-p MOONER
                .quotes__hour 
                    span.quotes__hour-p #[img(src="@img/quotes-icon-up.svg", alt="" draggable="false" loading="lazy")] 588.13%
                .quotes__money 
                    span.quotes__p $359,762.67
                .quotes__calendar 
                    span.quotes__p 4 months ago
                .quotes__upvotes 
                    button(type="button").quotes__btn #[span.quotes__btn-span 🚀] 59 718
            .quotes__item 
                .quotes__coins 
                    .quotes__square 
                    .quotes__texts 
                        span.quotes__subtitle CoinMooner Token #[br]
                        span.quotes__desc DOXXED
                .quotes__symbol 
                    span.quotes__symbol-p MOONER
                .quotes__hour 
                    span.quotes__hour-p #[img(src="@img/quotes-icon-up.svg", alt="" draggable="false" loading="lazy")] 588.13%
                .quotes__money 
                    span.quotes__p $359,762.67
                .quotes__calendar 
                    span.quotes__p 4 months ago
                .quotes__upvotes 
                    button(type="button").quotes__btn #[span.quotes__btn-span 🚀] 59 718
            .quotes__item 
                .quotes__coins 
                    .quotes__square 
                    .quotes__texts 
                        span.quotes__subtitle CoinMooner Token #[br]
                        span.quotes__desc DOXXED
                .quotes__symbol 
                    span.quotes__symbol-p MOONER
                .quotes__hour 
                    span.quotes__hour-p #[img(src="@img/quotes-icon-up.svg", alt="" draggable="false" loading="lazy")] 588.13%
                .quotes__money 
                    span.quotes__p $359,762.67
                .quotes__calendar 
                    span.quotes__p 4 months ago
                .quotes__upvotes 
                    button(type="button").quotes__btn #[span.quotes__btn-span 🚀] 59 718
            .quotes__item 
                .quotes__coins 
                    .quotes__square 
                    .quotes__texts 
                        span.quotes__subtitle CoinMooner Token #[br]
                        span.quotes__desc DOXXED
                .quotes__symbol 
                    span.quotes__symbol-p MOONER
                .quotes__hour 
                    span.quotes__hour-p #[img(src="@img/quotes-icon-up.svg", alt="" draggable="false" loading="lazy")] 588.13%
                .quotes__money 
                    span.quotes__p $359,762.67
                .quotes__calendar 
                    span.quotes__p 4 months ago
                .quotes__upvotes 
                    button(type="button").quotes__btn #[span.quotes__btn-span 🚀] 59 718
            .quotes__item 
                .quotes__coins 
                    .quotes__square 
                    .quotes__texts 
                        span.quotes__subtitle CoinMooner Token #[br]
                        span.quotes__desc DOXXED
                .quotes__symbol 
                    span.quotes__symbol-p MOONER
                .quotes__hour 
                    span.quotes__hour-p #[img(src="@img/quotes-icon-up.svg", alt="" draggable="false" loading="lazy")] 588.13%
                .quotes__money 
                    span.quotes__p $359,762.67
                .quotes__calendar 
                    span.quotes__p 4 months ago
                .quotes__upvotes 
                    button(type="button").quotes__btn #[span.quotes__btn-span 🚀] 59 718
            .quotes__item 
                .quotes__coins 
                    .quotes__square 
                    .quotes__texts 
                        span.quotes__subtitle CoinMooner Token #[br]
                        span.quotes__desc DOXXED
                .quotes__symbol 
                    span.quotes__symbol-p MOONER
                .quotes__hour 
                    span.quotes__hour-p #[img(src="@img/quotes-icon-up.svg", alt="" draggable="false" loading="lazy")] 588.13%
                .quotes__money 
                    span.quotes__p $359,762.67
                .quotes__calendar 
                    span.quotes__p 4 months ago
                .quotes__upvotes 
                    button(type="button").quotes__btn #[span.quotes__btn-span 🚀] 59 718

mixin quotes()
    .quotes 
        .quotes__body.container 
            .quotes__top 
                h2.quotes__title.title Cryptocurrency Quotes
                button(type="button").quotes__button Update
                    img(src="@img/quotes-icon-update.svg", alt="" draggable="false" loading="lazy")
            +content
                        

