mixin quotes()
    .quotes 
        .quotes__body.container 
            .quotes__top 
                h2.quotes__title.title Cryptocurrency Quotes
                button(type="button").quotes__button Update
                    img(src="@img/quotes-icon-update.svg", alt="" draggable="false" loading="lazy")
            .quotes__content 
                .quotes__header 
                    ul.quotes__list
                        li.quotes__li #[img(src="@img/quotes-icon-diamond.svg", alt="" draggable="false" loading="lazy")] Promoted coins
                        li.quotes__li #[img(src="@img/quotes-icon-diamond.svg", alt="" draggable="false" loading="lazy")] Promoted coins
                        li.quotes__li #[img(src="@img/quotes-icon-diamond.svg", alt="" draggable="false" loading="lazy")] Promoted coins
                        li.quotes__li #[img(src="@img/quotes-icon-diamond.svg", alt="" draggable="false" loading="lazy")] Promoted coins
                        li.quotes__li #[img(src="@img/quotes-icon-diamond.svg", alt="" draggable="false" loading="lazy")] Promoted coins
                        

