doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Document
    body 
        .wrapper 
            include components/top 
            +top 
            include components/header 
            +header
            include components/menu 
            +menu 
            .main 
                include components/contact 
                +contact
            include components/footer 
            +footer
        script(src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js") 
        script(src="js/app.min.js")  